body{
    background-color: #1F2F33;
}
.container{
    background-color: #A3B4C4;
    font-size: 23px;
    font-weight: 550;
    padding: 50px;
    margin-top: 190px;
    margin-left: 500px;
    width: 330px;
    border-radius: 15px;
}
button{
    padding: 3px 9px;
    margin-left: 25px;
    border-radius: 5px;
}
p{
    margin-left: 25px;
}