#countlabel{
    display: block;
    text-align: center;
    font-size: 200px;
}
#container{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: rgb(127, 221, 255);
    cursor: pointer;
    transition: background-color 0.25s;
    border-radius: 5px;
}
.button:hover{
    background-color:rgba(127, 165, 255, 0.908);
}

body{
    background-color: rgba(44, 12, 174, 0.388);
}