body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: antiquewhite;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    color: white;
    font-size: 44px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(128, 128, 128, 0.356);
}
button:active{
    background-color: rgba(128, 128, 128, 0.153);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 450px;
    gap: 10px;
    padding: 25px;
    position: relative;
}
#calculator{
    background-color:rgba(0, 0, 0, 0.852);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(53, 54, 54, 0.633);
    color: white;
}
.operator{
    background-color: orange;
}
.operator:hover{
    background-color: rgb(225, 183, 106);
}
.operator:active{
    background-color: rgb(172, 139, 77);
}
h1{
    color: black;
    background-color: rgb(92, 92, 125);
    border-radius: 15px;
    align-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 30px;
    margin: 20px;
    font-size: 40px;

}