#countlabel{
    display: block;
    text-align: center;
    font-size: 200px;
}
#container{
    text-align: center;
}
h1{
    font-size: 70px;
}
.label{
    border: 2px solid;
    height: 160px;
    margin: 10px;
    font-size: 190px;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 15px;
    background-color:#A3B4C4 ;
}
.button{
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: rgb(5, 91, 122);
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color:rgba(127, 165, 255, 0.908);
}

body{
    background-color: rgba(40, 136, 78, 0.388);
}